.form{
    font-size: 2rem;
    padding: 10px;
}

.form div{
    padding: 5px;
    margin-top: 10px;
}

.form input{
    width: 100%;
    height: 2rem;
    border-style: none;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 5px;
    margin-top: 3px;
}

.form input:focus{
   outline: none;
}

.form button{
    padding: 10px 20px 10px 20px;
    display: block;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    margin-top: 10px;
}

.error_message{
    font-size: 1.5rem;
    color: red;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.disabled{
    background-color: rgb(122, 122, 0);
    cursor: not-allowed;
}

.abled{
    background-color: yellow;
    cursor: pointer;
}

.buttonBox{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    align-items: center;
    margin-left: auto;
    margin-right: 0%;
    width: 100%;
}