body {
  margin: 0;
  background-color: rgb(32, 32, 32);
  color: white;
}

html{
  width: 100%;
}

.mainContent{
  margin-top: 74.5px;
  width: 100%;
}

@media screen and (orientation: landscape){
  .mainContent{
    margin-top: 107px;
  }
}
